:root {
 --Greeny-Blue: linear-gradient(to right, #46A098, #54A654);
 --purp: #9846A0;
}

body {
background: var(--Greeny-Blue);
font-family: "PT Sans";
}

svg {
   display: inline-block;
   
}

a,
p {
    font-family: "PT Sans";
}

/* header */
header {
    position: relative;
    position: fixed;
    width: 100%;
    position: sticky;
    min-width: 320px;
    min-height: 79px;
    background-color: var(--purp);
    font-family: "PT Sans";
    align-items: flex-start;
    display: flex;
}

header h1 {
    font-size: .875rem;
    font-family: "PT Sans";
    line-height: 150%;
    text-transform: uppercase;
    color: white;
    font-weight: normal;
}

/* icons */

.toggle-nav {
    width: 2.375rem;
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
}

.logo {
    min-width: 8.3125rem;
    min-height: 1.25rem;
    margin-left: 5.9375rem;
    padding-top: 1.25rem;
    
}

.shop {
    min-width: 1.5rem;
    min-height: 1.5rem;
    padding-left: 3.25rem;
    padding-top: 1.75rem;
    padding-right: 1rem;
    padding-bottom: 1.6875rem;
}

/* Nav */

.luca {
    color: white;
}

.luca-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.luca-nav li {
    list-style-type: none;
    border-bottom: .0625rem solid #ccc;
    text-align: center;
    padding: .0625rem;
}

.luca-nav {
    visibility: visible;
    opacity: 1;
}

/* BTN */
.btn {
    margin-left: 1rem;
    margin-right: 3.9375rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: block;
    width: 50%;
    border: .125rem solid none;
    background-color: var(--purp);
    text-align: center;
}

.btn a {
    color: white;
    font-size: 1rem;
    font-family: "PT Sans";
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;
}

